{% extends 'base.html' %}
{% block content %}
<h2>Table assignments</h2>
<div class="row">
{% for t, guests in tables.items() %}
<div class="col-md-4 mb-4">
<div class="card p-3 h-100">
<h5>Table {{ t }}</h5>
<ul>
{% for g in guests %}
<li>{{ g }}</li>
{% endfor %}
</ul>
<p><img src="{{ url_for('static', filename='qr_codes/table_' ~ t ~ '.png') }}" alt="QR for table {{t}}" style="max-width:160px;"></p>
<a class="btn btn-sm btn-outline-primary" href="{{ url_for('view_table', table_number=t) }}">Open table page</a>
</div>
</div>
{% endfor %}
</div>
{% endblock %}